{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <h1>Welcome to Voyage</h1>
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
        <p>Let's add a trip!</p> 

        <form action="{% url 'voyage:trips' %}" method='post'>
            {% csrf_token %} <!-- For security reasons, protects server -->
            {{ form.as_p }} 
            <div class="btn">
                <button name="submit">Add a Trip</button> 
            </div>
        </form>

    </body>

</html>