{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <h1>Welcome {{user.username}} to Voyage</h1>
        <p>Let's login!</p>
        <br></br>
        <div class="btn">
            <p>Click here to </p><a href="{% url 'users:register' %}">register!</a>
            <p>Click here to </p><a href="{% url 'users:login' %}">login!</a>
            <p>Click here to </p><a href="{% url 'users:logout' %}">logout!</a>
        </div>

        {% comment %} {% if user.is_authenticated %}
        Hello, {{ user.username }}.
        {% else %}
            To access this page, you should <a href="{% url 'users:login' %}">log in</a>
        {% endif %}  {% endcomment %}

        {% comment %} <p>Let's add a trip!</p>  {% endcomment %}

        <form action="{% url 'voyage:trips' %}" method='post'>
            {% csrf_token %} 
            {{ form.as_p }} 
            <div class="btn">
                <button name="submit">See your trips</button> 
            </div>
        </form>

    </body>

</html>