<html>

    <head>
    </head>
    
    <body>
        <h1>
        Plan your day!
        </h1>
        
        <p>
        Insert here the informations for your lunch: 
        </p>
        
        <form action = "{% url 'voyage:new_Lunch' %}" method = "POST">
            
            {% csrf_token %}
            
            {{ form.as_p }} <!-- Displays the form, taken from context, in a “paragraph” style -->
            
            <input type="hidden" name="day" value={% day %}

            <button>Submit!</button>
        
        </form>
        
        
    </body>
    
</html>
