{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <h1>Trips</h1>

        <h4>Here are your up coming trips</h4>
        <div class="btn">
            {% for trip in trips %}
            <li><a href="{% url 'voyage:showTrip' trip.id %}">{{trip}}</a></li>
            {% endfor %} 
        </div>

        <br></br>

        <form action="{% url 'voyage:addTrip' %}" method='post'>
            {% csrf_token %} 
            {{ form.as_p }} 
            <div class="btn">
                <button name="submit">Add another trip</button> 
            </div>
        </form>
        
    </body>

</html>
