{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="{% static 'index.css' %}">
    </head>
    <body>
        <h1>Trips</h1>

        <p>These are all the trips in our database</p>
        <ul>
        {% for trip in trips %}
        <li>{{trip}}</li>
        {% endfor %} </ul>

        <form action="{% url 'voyage:addTrip' %}" method='post'>
            {% csrf_token %} 
            {{ form.as_p }} 
            <button name="submit">Add a trip</button> 
        </form>
    </body>

</html>
