<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    
    <body>
        <h1>Welcome to Voyage</h1>
        
        <p>
        Please insert your credentials!        
        </p>
        
        {% if form.errors %}
        
             <p>Your username and password didn't match. Please try again.</p>
    
        {% endif %}
    
        <form action="{% url 'users:login' %}" method="post">
    
             {% csrf_token %}
             
             {{ form.as_p }}
        
             <button name="submit">Log in</button>
             
             <input type="hidden" name="next" value="{% url 'voyage:home' %}" />
        </form>
        
    </body>
    
</html>
