<html>

    <head>
    </head>
    
    <body>
        <h1>
        Football project
        </h1>
        
        <p>
        Insert two numbers: 
        </p>
        
        <form action = "{% url 'football:result' %}" method = "POST">
            
            {% csrf_token %}
            
            Number 1: <input type = "text" name = "firstNumber">
            
            <br><br>
            
            Number 2: <input type = "text" name = "secondNumber">
            
            <br><br>

            <button>Submit!</button>
        
        </form>
        
        
    </body>
    
</html>
